body {
    background-color: #f9f7fc;
  }

  .badge-sale {
    background-color: #e4ff48;
    color: #000;
    font-weight: 600;
  }

  .product-card img {
    max-height: 140px;
    object-fit: contain;
  }
  .card-pro{
    transition: all 0.2s;
  }
  .card-pro:hover{
    transform: scale(0.9);
  }

   .collection-item:hover .rounded-circle {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .rounded-circle {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  } 


  footer {
    background-color: #222;
    color: #bbb;
  }

  #cookieBanner {
    animation: slideUp 0.5s ease forwards;
  }

  @keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
